footer{
  z-index: 0; /*z-index para definir qual vai ficar atras/frente */
  color: white;
  bottom: 0px;
  width: 100%;
  background:#111;
}
.content .social{
  color:white}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
}
.left .content p{
  font-size: 13px;
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  color:white;
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: var(--cor-efeito);
}
.center .content .fas{
  margin: 10px 0 5px 0;
  font-size: 20px;
  background: #1a1a1a;
  height: 40px;
  width: 40px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: var(--cor-efeito);
}
.center .content .text{
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 14px;
  margin-bottom: 2px;
  color: white;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 15px;
  background: #e0dbdb;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color:var(--cor-efeito);
}
.right form input{
  height: 30px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  color:black;
  height: 40px;
  width: 200px;
  border: none;
  outline: none;
  background:#fff5f5 ;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background:#97969c;
}

.bottom center span{
  color: #656565;
}
.bottom center a{
  color:white;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer{ 
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
.bottom {
    position: fixed; /* Mantenha o footer fixo no final da tela */
    bottom: 0;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    background: #151515;
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.3s ease; /* Adicione uma transição suave */
}

/* Quando o corpo atingir o final, torne o footer visível */
body.show-footer .bottom {
    opacity: 1;
}